{% extends "base.html" %}

{% block title %}Confirm Signout{% endblock %}

{% block content %}
<div class="bg-zinc-700 flex flex-col w-4/5 max-w-[400px] p-6 rounded-lg shadow-lg px-8 text-center">
    <h2 class="text-white text-2xl font-semibold mb-4">Sign Out</h2>
    <p class="text-white text-sm mb-4">Are you sure you want to sign out?</p>
    
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-600 transition">
            Sign Out
        </button>
    </form>
</div>
{% endblock %}