{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="bg-zinc-700 flex flex-col w-4/5 max-w-[500px] p-6 rounded-lg shadow-lg px-8">
    <h2 class="text-white text-2xl font-semibold mb-4">Password Reset</h2>
    <p class="text-white text-sm mb-4">
        We have sent you an email with instructions to reset your password.
        If you haven't received it, please check your spam folder. Otherwise, contact us if you do not receive it within a few minutes.
    </p>

    <a href="{% url 'account_login' %}" class="text-blue-400 hover:underline">Go to Login</a>
</div>
{% endblock %}
