{% extends "base.html" %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="bg-zinc-700 flex flex-col w-4/5 max-w-[500px] p-6 rounded-lg shadow-lg px-8">
    <h2 class="text-white text-2xl font-semibold mb-4">Set a New Password</h2>

    {% if token_fail %}
        <p class="text-red-400 text-sm mb-4">The password reset link is invalid or has expired. Please request a new one.</p>
        <a href="{% url 'account_reset_password' %}" class="text-blue-400 hover:underline">Request a new password reset</a>
    {% else %}
        <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
    {% endif %}
</div>
<style>
    body {
        color: white;
    }
    li {
        font-size: 12px;
        color: oklch(0.81 0.006 285.885)
    }
    input {
        height: 35px;
        border-radius: 5px;
        background-color: oklch(0.21 0.006 285.885);
        padding: 0 10px;
        color: white;
    }
    button {
        background-color: oklch(0.25 0.006 285.885);
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
</style>
{% endblock %}
