{% load static %}
<!--NavBar-->
  <nav class="flex flex-row fixed top-0 z-[50] items-center justify-between bg-zinc-900 h-20 w-full p-2">
      <div class="flex items-center justify-between hover:cursor-pointer" onclick="window.location.href='{% url 'index' %}'">
          <img src="{% static 'images/syn.png' %}"  class="h-12 m-3 md:h-14" style="filter: invert(1); mix-blend-mode: difference;">
          <h1 class="text-slate-200 m-3 ml-0 font-[Montserrat] font-bold text-xl md:text-2xl">Synergy</h1>
      </div>
      <!--Profile Button-->
      {% if request.user.profile_image %}
      <div class=" hover:cursor-pointer h-11 w-11 m-3 bg-sky-100 rounded-full outline outline-4 outline-zinc-600 "
     style="background-image: url('{{ request.user.profile_image.url }}'); background-size: cover; background-position: center;"
      onclick="window.location.href='{% url 'profile' %}'">
        <span class="animate-ping relative right-[-35px] top-[-5px] inline-flex h-3 w-3 rounded-full bg-sky-300 opacity-100 "></span>
        <span class="relative right-[-20px] top-[-5px] inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
    </div>
      {% else %}
      <div class=" cursor-pointer h-11 w-11 m-3 bg-sky-100 rounded-full outline outline-4 outline-zinc-600" onclick="window.location.href='{% url 'profile' %}'">
      
        <span class="animate-ping relative right-[-35px] top-[-5px] inline-flex h-3 w-3 rounded-full bg-sky-300 opacity-100"></span>
        <span class="relative right-[-20px] top-[-5px] inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
      </div>
      {% endif %}

  </nav>
